.container{
    margin-top: -60px;
}

.signInLink {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    padding: 6px 24px;
    width: 100%;
    max-width: 182px;
    height: 36px;
    margin-top: 24px;
    margin-bottom: 42px;
    background-color: #397DF6;
    border-radius: 2px;
    transition: all 0.2s ease;
    border: 1px solid transparent;
}

.signInLink:hover {
    background-color: #73A5FF;
}

.signInLink:active {
    background-color: #2F68CC;
}

.emailInput {
    max-width: 230px;
    width: 100%;
}

.resendLinkButton{
    max-width: 230px;
    width: 100%;
}