.new_password {
    margin-bottom: 24px;
}
.confirm_Password {
    margin-bottom: 7px;
}
.information {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: var(--light-900);
    margin-bottom: 41px;
}
.error {
    color: var(--danger-500);
}
.eyeIcon {
    color: white;
}
